#borrowContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 250px;
}

#borrowContainer .inner {
  display: grid;
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
  top: 10%;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: repeat(2, 50%);
}

#borrowContainer .left-side {
  display: grid;
  grid-template-rows: repeat(4, auto);
  overflow: hidden;
}

#borrowContainer .right-side {
  display: grid;
  grid-template-rows: repeat(5, auto);
  overflow-x: hidden;
  overflow-y: scroll;
}

#borrowContainer .left-side div:not(.invalid-feedback){
  justify-self: start;
  min-height: 60px;
}

#borrowContainer .right-side div{
  justify-self: start;
  text-align: left;
  height: auto;
  min-height: 30px;
  max-height: 90px;
  font-size: 20px;
  padding-left: 50px;
  overflow-y: hidden;
}

label {
  font-size: 20px;
  float: left;
  padding-right: 10px;
}

select {
  font-size: 20px;
  padding: 3px;
  float: left;
}

button {
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.validate-msg{
  color: red;
  font-size: 15px;
}

#borrowMessage {
  color: green;
  margin-top: 5px;
  display: none;
}


