<div id="borrowContainer">
  <div class="inner">
    <div class="left-side">
      <form [formGroup]="borrowForm" (ngSubmit)="checkOutBook(bookId, userId, checkoutLength)">
        <div class="form-group">
          <label for="borrowUserSelect">Korisnik:</label>
          <select id="borrowUserSelect" formControlName="user" class="form-control" [(ngModel)]="userId" name="userId">
            <option *ngFor="let key of objectKeys(users)" ngValue="{{key}}">{{ users[key].name }} {{ users[key].surname }}</option>
          </select>
          <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
            <div class="validate-msg">Molimo odaberite korisnika!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="borrowBookSelect">Naslov:</label>
          <select id="borrowBookSelect" formControlName="book" class="form-control" [(ngModel)]="bookId" name="bookId">
            <option *ngFor="let book of books" ngValue="{{book.id}}">{{ book.title }}</option>
          </select>
          <div *ngIf="submitted && f.book.errors" class="invalid-feedback">
            <div class="validate-msg">Molimo odaberite knjigu!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="borrowDurationSelect">Trajanje posudbe:</label>
          <select id="borrowDurationSelect" formControlName="checkOutLength" class="form-control" [(ngModel)]="checkoutLength" name="checkoutLength">
            <option ngValue="1">1 dan</option>
            <option ngValue="7">1 tjedan</option>
            <option ngValue="30">1 mjesec</option>
            <option ngValue="90">3 mjeseca</option>
          </select>
          <div *ngIf="submitted && f.checkOutLength.errors" class="invalid-feedback">
            <div class="validate-msg">Molimo odaberite trajanje posudbe!</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" id="borrowConfirm" class="form-group">Potvrdi</button>
        </div>
      </form>
    </div>
    <div class="right-side">
      <div id="borrowInfoBookTitle">Naslov knjige: {{allBooks[bookId].title}}</div>
      <div id="borrowInfoBookAuthor">Autor knjige: {{allBooks[bookId].author}}</div>
      <div id="borrowInfoBookYear">Godina izdanja: {{allBooks[bookId].year}}</div>
      <div id="borrowInfoCheckoutDate">Datum posudbe: {{todayDate | date:'dd.LL.yyyy.'}}</div>
      <div id="borrowInfoReturnDate">Datum povratka: {{getReturnDate(checkoutLength) | date:'dd.LL.yyyy.'}}</div>
      <div id="borrowMessage"></div>
    </div>
  </div>
</div>
