<div id="borrowContainer">
  <div class="inner">
    <div class="left-side">
      <div>
        <label for="borrowUserSelect">Korisnik:</label>
        <select id="borrowUserSelect">
          <option *ngFor="let key of objectKeys(users$)" value="users$[key].id">{{ users$[key].name }}</option>
        </select>
      </div>
      <div>
        <label for="borrowBookSelect">Naslov:</label>
        <select id="borrowBookSelect"></select>
      </div>
      <div>
        <label for="borrowDurationSelect">Trajanje posudbe:</label>
        <select id="borrowDurationSelect">
          <option value="day">1 dan</option>
          <option value="week">1 tjedan</option>
          <option value="month">1 mjesec</option>
          <option value="3month">3 mjeseca</option>
        </select>
      </div>
      <div>
        <button id="borrowConfirm">Potvrdi</button>
      </div>
    </div>
    <div class="right-side">
      <div id="borrowInfoBook">Naslov:</div>
      <div id="borrowInfoCheckoutDate">Datum posudbe:</div>
      <div id="borrowInfoReturnDate">Datum povratka:</div>
      <div id="borrowMessage"></div>
    </div>
  </div>
</div>
